{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href={% static "css/shop-homepage.css" %}>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="menu" style="height: 6%">
    <a class="navbar-brand" href="/">Django Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if not request.get_full_path == '/' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                            <a class="dropdown-item " href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding-top: 13px">
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <p class='navbar-text'>Hello, guest!</p>
                </li>
                <li class='nav-item'>
                    <a class="nav-link active" href="{% url 'registration' %}">Register</a>
                </li>
                <li class='nav-item'>
                    <a class="nav-link" href="{% url 'login' %}">Log in</a>
                </li>

            {% else %}
                <li class='nav-item'>
                    <p class='navbar-text'>Hello, {{ request.user }} </p>
                </li>
                <li class='nav-item'>
                    <a class="nav-link active" href="{% url 'account' %}">Profile</a>
                </li>
                <li class='nav-item text-center'>

                    <a class="nav-link active" href="{% url 'logout' %}">Log out</a>
                </li>

            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">
                <a href="{% url "cart" %}" class="nav-link btn btn-info btn-sm text-center">
                    <span class="glyphicon glyphicon-shopping-cart text-center"></span> Shopping Cart
                    <span class='badge color nav-item'
                          id='cart_count'>{% if not request.session.total %}
                        0 {% else %} {{ request.session.total }} {% endif %}</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
<br>

<!-- Page Content -->
{% block content %}
    <div class="row">


        <div class="col-lg-2">
            <div id="sidebar">
                <p class="text-center"><strong>Categories</strong></p>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}"
                           class="list-group-item text-center">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container col-lg-10" style="height: 830px; margin: 0px; position: relative">

            <div class="row" style="margin-left: 25px; height: 96%">


                <div class="col-lg-10">
                    <br>
                    <div class="row">
                        {% for product in products %}
                            <div class="col-lg-4 col-lg-4 col-lg-4">
                                <div class="card h-100">
                                    <a href="{{ product.get_absolute_url }}"><img class="card-img-top"
                                                                                  src="{{ product.image.url }}" alt=""
                                    ></a>
                                    <div class="card-body text-center">
                                        <h4 class="card-link">
                                            <a href="{{ product.get_absolute_url }}"> {{ product.title }}</a>
                                        </h4>
                                        <h5 class="card-group bottom">{{ product.price }} $</h5>
                                        <!-- <p class="card-text">{{ product.description }}</p>-->
                                    </div>

                                    <div class="card-footer">

                                        {% if product.available %}
                                            <a href="#" class="add_to_cart" data-slug="{{ product.slug }}">
                                                <button class='btn btn-danger'>Add to cart</button>
                                            </a>
                                        {% else %}
                                            {#                                            <button type="button" class="btn btn-primary btn-md" data-toggle="modal"#}
                                            {#                                                    data-target="#myModal-{{ item.id }}" data-slug="{{ product.slug }}">#}
                                            {#                                                Notify me#}
                                            {#                                            </button>#}

                                            {#                                                <button type="button" class="btn btn-primary btn-md" data-toggle="modal"#}
                                            {#                                                        data-target="#myModal-{{ item.id }}">#}
                                            {#                                                    Notify me#}
                                            {#                                                </button>#}
                                            <p class="text-center text-danger"><strong>Out of stock</strong></p>


                                        {% endif %}


                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

            <!-- Paginator -->
            <div class="col-4 mx-auto" id="pg">
                <div class="pagination ">
                    {% if products.has_previous %}

                        <li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ products.previous_page_number }}"><</a></li>

                    {% endif %}
                    {% for num in products.paginator.page_range %}
                        {% if products.number == num %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}"><strong>{{ num }}</strong></a>
                            </li>
                        {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">></a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ products.paginator.num_pages }}">>></a>
                        </li>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
{% endblock content %}

<div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <h4 class="text-center">Subscribe</h4>
                <form action="{% url 'notify' %}" method="post">

                    <p class="text-info">Your email:</p>
                    <br>
                    {% csrf_token %}
                    <input class="email" type="text" name="email">
                    <input type='submit' class='submit btn btn-success btn-block' item_id="{{ item.id }}"
                           value='Ok'>
                    <br>
                </form>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-2 bg-dark fixed-bottom">

    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>

    <!-- /.container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap core JavaScript -->

<script src='{% static "js/bootstrap.min.js" %}'></script>

<script>
    $(document).ready(function () {
        $('.add_to_cart').on('click', function (e) {
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: 'GET',
                url: '{% url "add_to_cart" %}',
                data: data,
                success: function (data) {
                    $('#cart_count').html(data.cart_total)
                }
            })

        })

    })
</script>
</body>

</html>
